[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[endstop_phase]

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 230    #edit to your park position
default_parameter_Y: 230    #edit to your park position
default_parameter_Z: 10     #edit to your park position
default_parameter_E: 1      #edit to your retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000
    
[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 1      #edit to your retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME
    
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[stepper_a]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
#position_endstop: 190 #required
homing_speed: 50
#arm_length: 215 #required

[tmc2209 stepper_a]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.50
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_b]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1

[tmc2209 stepper_b]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.50
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_c]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC2

[tmc2209 stepper_c]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.50
hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 26.9879505
gear_ratio: 50:8
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: NTC 100K beta 3950
sensor_pin: PC3
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
min_extrude_temp: 0
max_temp: 300
pressure_advance = 0.04

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.25
hold_current: 0.25
#stealthchop_threshold: 5

[endstop_phase]

[heater_fan nozzle_cooling_fan]
pin: PC7

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_31FFD4055358313835661143-if00

[printer]
kinematics: delta
max_velocity: 100
max_accel: 1000
max_z_velocity: 100
minimum_z_position=-5
square_corner_velocity: 0
#delta_radius: 90 #required

[probe]
pin: !PA1
speed: 40
#z_offset: 0

[delta_calibrate]
radius: 90
horizontal_move_z: 35
Speed: 40

[static_digital_output usb_pullup_enable]
pins: !PA14

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5, EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 142.359741
#*#
#*# [stepper_a]
#*# angle = 209.442961
#*# arm_length = 215.000000
#*# position_endstop = 176.388265
#*#
#*# [stepper_b]
#*# angle = 330.188997
#*# arm_length = 215.000000
#*# position_endstop = 177.111947
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 215.000000
#*# position_endstop = 178.169602
#*#
#*# [endstop_phase stepper_a]
#*# trigger_phase = 16/64
#*#
#*# [endstop_phase stepper_b]
#*# trigger_phase = 50/64
#*#
#*# [endstop_phase stepper_c]
#*# trigger_phase = 58/64
#*#
#*# [delta_calibrate]
#*# height0 = 0.0
#*# height0_pos = 14056.000,14147.000,14332.000
#*# height1 = 0.0
#*# height1_pos = 16505.000,16558.000,11741.000
#*# height2 = 0.0
#*# height2_pos = 13007.000,18436.000,13278.000
#*# height3 = 0.0
#*# height3_pos = 11752.000,16288.000,16448.000
#*# height4 = 0.0
#*# height4_pos = 13204.000,13317.000,17367.000
#*# height5 = 0.0
#*# height5_pos = 15814.000,12071.000,16097.000
#*# height6 = 0.0
#*# height6_pos = 17658.000,13155.000,13359.000
#*#
#*# [probe]
#*# z_offset = -0.050
